<template>
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show">
	<Navbar/>
	<div class="panel panel-inverse">
			    <div class="panel-heading">
			       
			        <h4 class="panel-title">Campañas</h4>
			    </div>
			    <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" v-if="list_camp.length>0">
                   
                  <div class="table-responsive">
								<table class="table table-striped">
                                    <thead style="display:table-header-group;">
                            <tr>
                             <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Alta</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Estatus</th>
                            

                            <th> <a @click="showModal" style="margin-right: 10px; color:green;cursor:pointer" class="fa fa-plus"></a></th>
                            </tr>
                                    </thead>
                            <tbody>
                            <tr v-for="(obj,index) in list_camp" :key="index">
                                
                                <td>{{obj.Nombre}}</td>
                                <td>{{obj.Descripcion}}</td>
                                <td>{{obj.FechaCreacion}}</td>
                                <td>{{obj.fecha_inicio}}</td>
                                <td>{{obj.fecha_fin}}</td>
                                <td>{{obj.Estatus}}</td>
                                <td>  
                                    <a style="margin-right: 10px; color:blue;cursor:pointer" @click="editCamp(obj.idCamps)" class="fa fa-edit" ></a>
                                <a style="color: red;cursor:pointer" class="fa fa-trash" @click="eliminarCamp(obj.idCamps)" ></a></td>
                               
                            </tr>

                            </tbody>
			            </table> 
                   </div>
                
                 
			        
			    </div>
                <div v-else><label>No hay registros disponibles </label>
                <a  style="margin-right: 10px; color:green;cursor:pointer" class="fa fa-plus" @click="showModal"></a>
                </div>
                
                    </div>
			    </div>
			</div>
            
			<!-- end panel -->
            <p>
                <button class="btn btn-success" @click="regresar">
                    <i class="fa fa-arrow-circle-left"></i> Regresar
                </button>
            </p>
		  <modalcamp
      v-show="isModalVisible"
      @close="closeModal"
    />
        </div>
</template>
<script>
import { url } from "../main.js";
import { edit } from "../main.js";
import modalcamp from "./modalcamp.vue";
import Navbar from "../layout/Navbar.vue";

export default {
  components: { modalcamp,Navbar },
  data() {
    return {
      list_camp: [],
      isModalVisible: false
    };
  },
  mounted: function() {
    this.get_camps();
  },
  methods: {
    get_camps() {
      this.$http
        .get(
          url +
            "apiCampania.php/campania/" +
            localStorage.getItem("idusuarios"),
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
		if(response.status=='200')
		{
          if (response.data != "null") {
            this.list_camp = response.data;
          }else{
            this.list_camp=[];
		  }
		}
		if(response.status=='401')
          {
			      this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        });
    },
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
      this.get_camps();
    },
    editCamp(idc)
    { edit.$emit('editar',idc);
      this.showModal();

    },eliminarCamp(idc)
    {
     
      this.$http.get(
          url + "apiCampania.php/deletecamp/"+idc,
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data

           if(response.status=='200')
          {
            this.get_camps();
		  }
		  if(response.status=='401')
          {
			      this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        });
        },regresar(){
      this.$router.push('/main');
    }
  }
};
</script>