<template>
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show">
	<Navbar/>
	<div class="panel panel-inverse">
			    <div class="panel-heading">
			       
			        <h4 class="panel-title">Grupos</h4>
			    </div>
			    <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 offset-md-2" v-if="list_group.length>0">
                   
                  <div class="table-responsive">
								<table class="table table-striped">
                            <tr>
                                <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Campaña</th>
                            <th> <a @click="showModal" style="margin-right: 10px; color:green;cursor:pointer" class="fa fa-plus"></a></th>
                            </tr>
                            <tbody>
                            <tr v-for="(obj,index) in list_group" :key="index">
                                <td>{{obj.Nombre}}</td>
                                <td>{{obj.Descripcion}}</td>
                                <td>{{obj.camp}}</td>
                                
                                <td>   
                                    
                                   
                                    <a style="margin-right: 10px; color:blue;cursor:pointer" @click="editGrupo(obj.idGrupos)" class="fa fa-edit"></a>
                                <a style="color: red;cursor:pointer" class="fa fa-trash" @click="eliminarGrupo(obj.idGrupos)"></a></td>
                            </tr>

                            </tbody>
			            </table> 
                   </div>
                
                 
			        
			    </div>
                <div v-else><label>No hay registros disponibles </label>
                <a @click="showModal" style="margin-right: 10px; color:green;cursor:pointer" class="fa fa-plus"></a>
                </div>
                    </div>
			    </div>
			</div>
            
			<!-- end panel -->
            <p>
                <button class="btn btn-success" @click="regresar">
                    <i class="fa fa-arrow-circle-left"></i> Regresar
                </button>
            </p>
		  <modalgrupo
      v-show="isModalVisible"
      @close="closeModal"
    />
        </div>
</template>

<script>
import { url } from "../main.js";
import { edit } from "../main.js";
import modalgrupo from './modalgrupo.vue'
import Navbar from "../layout/Navbar.vue";

export default {
    components:{modalgrupo,Navbar
},
created(){
	
},
  data() {
    return {
         isModalVisible: false,
      list_group: [],
      c_modal:false
    };
  },
  mounted: function() {
    this.get_grupos();
  },
  methods: {
    get_grupos() {
      this.$http.get(
          url + "apiGrupos.php/grupos/" + localStorage.getItem("idusuarios"),
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data
console.log(response);
		
		if(response.status=='200')
		{
          if (response.data != "null") {
            this.list_group = response.data;
          }else{
            this.list_group=[];
            
		  }
		} 
		  if(response.status=='401')
          {
			      this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        });
    },
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
       
      this.isModalVisible = false;
      this.get_grupos();
      
    },editGrupo(idg){
      console.log("editar"+idg);
      edit.$emit('editar',idg);
      this.showModal();
    },eliminarGrupo(idg)
    {
      console.log("eliminar"+idg);
      this.$http.get(
          url + "apiGrupos.php/deletegrupo/"+idg,
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data

           if(response.status=='200')
          {
			this.get_grupos();			
		  }
		  if(response.status=='401')
          {
			      this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        });

    },regresar(){
      this.$router.push('/main');
	},
  }
};
</script>