<template>
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show">
  <Navbar/>
	<div class="panel panel-inverse">
			    <div class="panel-heading">
			       
			        <h4 class="panel-title">Listas</h4>
			    </div>
			    <div class="panel-body">
            <div class="row">
			    <!-- begin col-6 -->
			    <div class="col-lg-8 offset-md-2">
			    	<!-- begin nav-tabs -->
					<ul class="nav nav-tabs"  >
						<li class="nav-items">
							<a :data-target="'#tab-1'" data-toggle="tab" class="nav-link active">
							
								<span class="d-sm-block d-none" >Administrar Listas</span>
							</a>
						</li>
						<li class="nav-items">
							<a :data-target="'#tab-2'" data-toggle="tab" class="nav-link">
							
								<span class="d-sm-block d-none" >Agregar Videos</span>
							</a>
						</li>
						
					</ul>
					<!-- end nav-tabs -->
					<!-- begin tab-content -->
					<div class="tab-content">
						<!-- begin tab-pane -->
						<div class="tab-pane fade active show" id="tab-1">
							<h3 class="m-t-10"><i class="fa fa-list"></i> Mis Listas</h3>
						<div class="row">
                        <div class="col-md-12" v-if="list_listas.length>0">
                   
                  <div class="table-responsive">
								<table class="table table-striped">
                                    <thead style="display:table-header-group;">
                            <tr>
                             <th>Nombre</th>
                            <th>Descripción</th>
                            
                            

                            <th> <a @click="showModal" style="margin-right: 10px; color:green;cursor:pointer" class="fa fa-plus"></a></th>
                            </tr>
                                    </thead>
                            <tbody>
                            <tr v-for="(obj,index) in list_listas" :key="index">
                                
                                <td>{{obj.Nombre}}</td>
                                <td>{{obj.Descripcion}}</td>
                                
                                <td>  
                                    <a style="margin-right: 10px; color:blue;cursor:pointer" class="fa fa-edit"  @click="editLista(obj.idListas)"></a>
                                <a style="color: red;cursor:pointer" class="fa fa-trash" @click="eliminarLista(obj.idListas)"  ></a></td>
                               
                            </tr>

                            </tbody>
			            </table> 
                   </div>
                
                 
			        
			    </div>
                <div v-else><label>No hay registros disponibles </label>
                <a  style="margin-right: 10px; color:green;cursor:pointer" class="fa fa-plus" @click="showModal"></a>
                </div>
                
                    </div>
						
						</div>
						<!-- end tab-pane -->
						<!-- begin tab-pane -->
					
							<div id="accordion" class="card-accordion" >
						<!-- begin card -->
            <div class="row">
              <div class="col-md-6">
                
			       
			      	<h3 class="m-t-10"><i class="fa fa-video"></i> Mis Videos</h3>
               <draggable class="list-group" element="ul" v-model="list" :options="{group:{name:'description', pull:'clone'}}" :move="onMove" @start="isDragging=true" @end="isDragging=false">
        <transition-group type="transition" :name="'flip-list'">
          <li class="list-group-item" v-for="element in list" :key="element.id">
            <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
            {{element.name}}
          
          </li>
        </transition-group>
      </draggable>
			<!--  <draggable class="list-group" element="ul" v-model="list" :options="dragOptions" :move="onMove" @start="isDragging=true" @end="isDragging=false">
        <transition-group type="transition" :name="'flip-list'">
          <li class="list-group-item" v-for="(obj,index) in list_listas" :key="index">
            <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
            {{element.name}}
            <span class="badge">{{element.order}}</span>
          </li>
        </transition-group>
      </draggable>-->

                </div>
              <div class="col-md-6" style="overflow: scroll;height: 500px;">
                	<h3 class="m-t-10"><i class="fa fa-list"></i> Mis Listas &nbsp;<button style="cursor:pointer" @click="enviarLista"><i class="fa fa-save"></i></button></h3>
						<div class="card" v-for="(obj,index) in list_listas" :key="index">
							<div class="card-header bg-black text-white pointer-cursor" data-toggle="collapse" :data-target="'#collapse'+index">
								{{obj.Nombre}}
							</div>
							<div v-bind:id="'collapse' +index" class="collapse" data-parent="#accordion" >
								<div class="card-body" >
                  <draggable element="span" v-model="list2[index]" :options="dragOptions" :move="onMove">
        <transition-group name="no" class="list-group" tag="ul">
          <li class="list-group-item" v-for="element in list2[index]" :key="element.id">
            <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
            {{element.name}}
           
          </li>
        </transition-group>
      </draggable>
					<!--	 <draggable   @start="drag=true" @end="drag=false">
          <transition-group>
   <div v-for="(obj,index) in list_files2" :key="index" class="list-group-item">{{obj.Nombre}}</div>
          </transition-group>
</draggable>-->
  
								</div>
							</div>
						</div>
						
						<!-- end tab-pane -->
						<!-- begin tab-pane -->
						<div class="tab-pane fade" id="default-tab-3">
							<p>
								<span class="fa-stack fa-4x pull-left m-r-10">
									<i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fab fa-twitter fa-stack-1x"></i>
								</span>
							
							</p>
						</div>
						<!-- end tab-pane -->
					</div>
			    </div>
          </div>
            </div>
            	
						<!-- end card -->
						<!-- begin card -->
					
						<!-- end card -->
					</div>
            </div>
<!--<draggable  :list="list_files" @start="drag=true" @end="drag=false">
   <div v-for="(obj,index) in list_files" :key="index">{{obj.Nombre}}</div>
</draggable>-->
			    </div>
	</div>
   <p>
                <button class="btn btn-success" @click="regresar">
                    <i class="fa fa-arrow-circle-left"></i> Regresar
                </button>
            </p>
            <modallista
      v-show="isModalVisible"
      @close="closeModal"
    />
</div>
</template>
<script>
import draggable from 'vuedraggable'
import { url } from "../main.js";
import { edit } from "../main.js";
import modallista from './modallista.vue';
import Navbar from "../layout/Navbar.vue";
const message = [
  "vue.draggable",
  "draggable",
  "component",
  "for",
  "vue.js 2.0",
  "based",
  "on",
  "Sortablejs"
];
  export default {
  
      data(){
return{
   isModalVisible: false,
    list_files:[],
    list_listas:[],
    list_files2:[],
    isOpen:false,
    otherlist:[],
    list: [],
    
      list2: [],
      listnames:[],
      editable: true,
      isDragging: false,
      delayedDragging: false
    };
}

      ,
        components: {
            draggable,modallista,Navbar
        },
        created()
        {console.log("created");
        this.get_listas();
            this.get_files();
 
        },
        beforeUpdate(){
          
        }
        ,
        
        methods:
        {
              get_files() {
      this.$http
        .get(
          url +
            "apiListas.php/get_archivos/" +
            localStorage.getItem("idusuarios"),
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          if(response.status=='200')
          {
          console.log("files"+response.data);
          if (response.data != "null") {
            this.list_files = response.data;
            for(var i=0;i<this.list_files.length;i++)
            {
              this.otherlist.push(this.list_files[i]);


            
            }
          this.list=  this.otherlist.map((obj, index) => {
        return { name:obj.Nombre, id:obj.idArchivos, fixed: false };
      });
            console.log("xx"+this.otherlist);
          }else{
            this.list_files=[];
          }
        }
        if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }

        });
    },get_listas(){
      this.$http.get(
          url + "apiListas.php/listas/" + localStorage.getItem("idusuarios"),
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data

          if(response.status=='200')
          {
          if (response.data != "null") {
            this.list_listas = response.data;
            console.log("listas:"+this.list_listas);
          }  
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
          
            
          }else{
            this.list_listas=[];
          }

for(var i=0;i<this.list_listas.length;i++)
{
  this.listnames=this.list_listas[i].Nombre;
  this.listnames=[];
           this.list2.push(this.listnames);
           console.log(this.list2);
          
          
          
}
        });
    }, showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
       
      this.isModalVisible = false;
      this.get_listas();
      
    },editLista(idl){
      console.log("editar"+idl);
      edit.$emit('editar',idl);
      this.showModal();
    },eliminarLista(idl){
       this.$http.get(
          url + "apiListas.php/deletelistas/"+idl,
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data

           if(response.status=='200')
          {
            this.get_listas();
          }
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        });
    },enviarLista()
    {
 this.$http.post(
          url + "apiListas.php/insertlista_detail/",
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data

           console.log(response);
           if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        });
    },
    regresar(){
      this.$router.push('/main');
    },
    onMove({ relatedContext, draggedContext }) {
      const relatedElement = relatedContext.element;
      const draggedElement = draggedContext.element;
     console.log(relatedContext);
    },orderList() {
     // this.list = this.list.sort((one, two) => {
     //   return one.order - two.order;
     // });
    },clone(el){
				return {
					name : el.name + ' cloned'
				}
			}
  },
  computed: {
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: !this.editable,
        ghostClass: "ghost"
      };
    },
   
  }
        ,
  watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;
      });
    }
  }
  }

        
        </script>
       <style>
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}
</style>