<template>
    <div class="login animated fadeInDown">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 bg-black">
                <!-- begin brand -->
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> <b>Marketing</b> Stream
                        <!-- <img src="@/assets/mk_stream.jpeg" > -->
                        <small></small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <!-- end brand -->
                <!-- begin login-content -->
                <div class="login-content">
                    <div class="margin-bottom-0">
                        <div class="form-group m-b-20">
                            <input type="text" class="form-control form-control-lg inverse-mode" v-model="usuario.email" placeholder="Email" required />
                        </div>
                        <div class="form-group m-b-20">
                            <input type="password" class="form-control form-control-lg inverse-mode" v-model="usuario.password" placeholder="Password" required />
                        </div>
                        
                    <!--  <div class="checkbox checkbox-css m-b-20">
                            <input type="checkbox" id="remember_checkbox" /> 
                            <label for="remember_checkbox">
                                Recordar
                            </label>
                        </div>-->
                        <div>
                            <button class="btn btn-success btn-block btn-lg"  @click="send_login()">Ingresar</button>
                    
                    <label style="color:#DC143C">{{error}}</label>
                        </div>
                    </div>
                </div>
                <!-- end login-content -->     
            </div>
            <div class="col-4"></div>
        </div>
    </div>
        
        <!-- end login -->
</template>
<script>
import { url } from "../main.js";
export default{
    created()
	{
		if(this.$cookies.isKey("token"))
		{			
			this.$router.push('/main');
		}
	
	},
    
    data(){
return{
    
usuario:{
    email:"",
    password:""

},token:{
    token:""
}
,error:""
}
},methods:
{
    send_login()
    {

if(this.usuario.email!=="" && this.usuario.password !=="")
{
console.log(this.usuario);
         this.$http.post(url + "apiUsuarios.php/login", {
       data:this.usuario}
        ).then(respuesta => {
        //   $obj->data['name']
          console.log(respuesta);
          if(respuesta.body.status=='200')
          {
              localStorage.setItem('token', respuesta.body.token);
              localStorage.setItem('idusuarios', respuesta.body.idusuarios);
              this.$cookies.set('token',respuesta.body.token,'1h');
              this.token.token = localStorage.getItem('token')
              this.obtenerDatos()
              
              
          
          }else{this.error="Usuario y/o contraseña incorrecta"}
          
         

        });

    }else{
        this.error="Ingrese usuario y contraseña";

    }
   
},
obtenerDatos(){
    //this.token.token = localStorage.getItem('token')
    console.log(this.token)
    this.$http.post(url + "apiToken.php/getUser", {
       data:this.token,
       headers: {
              "Content-Type": "application/json"
            }
       }
        ).then(respuesta => {
        //   $obj->data['name']
          console.log(respuesta);
           this.$cookies.set('email',respuesta.body.email,'1h');
              
              this.$router.push('/main');
          
         

        });
}
}
}
</script>
