<template>
<transition name="modal-fade">
  <div class="modal-backdrop">
    <div class="modal" role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription">
      <header class="modal-header"  id="modalTitle">
        <slot name="header">
          
          <button
            type="button"
            class="btn-close"
            @click="close"
          >
            x
          </button>
<h1> Grupos</h1>
        </slot>
       
      </header>
      <section class="modal-body"  id="modalDescription">
        <slot name="body">
         <form>
                        <div class="form-group">
                            <label>Nombre del Grupo:</label>
                        <input class="form-control form-control-lg" v-model="grupo.nombre"  type="text" />
                        </div>
                        <div class="form-group">
                             <label>Descripción:</label>
                        <input class="form-control form-control-lg" v-model="grupo.descripcion" type="text" />
                        </div>

                         <div class="form-group">
                             <label>Campaña:</label>
<select class="form-control form-control-lg" v-model="grupo.idcamps" >
  <option v-for="obj in list_camp" :value="obj.idCamps" :key="obj.idCamps">
    {{obj.Nombre}}
  </option>
    
</select>
                         </div>
                        
                         

                    </form>
        </slot>
       </section>
       <footer class="modal-footer">
          <button
              type="button"
              class="btn-success"
              @click="save_grupo"
            >
              Guardar
          </button>

          <slot name="footer">
            
            <button
              type="button"
              class="btn-green"
              @click="close"
            >
              Cerrar
          </button>
        </slot>
      </footer>
    </div>
  </div>
</transition>
</template>
<script>
import { url } from "../main.js";
import { edit } from "../main.js";
  export default {
   
    name: 'modal',
 data()
    {
      return{
list_camp:[],
idg:0,
isedit:false,
grupo:{
  nombre:"",
  descripcion:"",
  idcamps:0,
  idusuarios:localStorage.getItem('idusuarios')
}
      }
    },created(){
      edit.$on('editar',(idg)=>{
       this.idg=idg;
     this.get_grupo(this.idg);
     this.isedit=true;

      });
  
    this.get_camps();
    
     
    },
    methods: {
      close() {
        this.$emit('close');
      },
      get_camps(){

         this.$http.get(
          url + "apiCampania.php/campania/" + localStorage.getItem("idusuarios"),
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data
          if(response.status=='200')
          {
          if (response.data != "null") {
            this.list_camp = response.data;
           this.grupo.idcamps=this.list_camp[0].idCamps;
            
          }
          }
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        });
      }
    ,save_grupo(){
console.log(this.grupo);

if(!this.isedit)
{
  this.$http.post(url + "apiGrupos.php/insertGrupo", {
       data:this.grupo},{ headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }}
        ).then(respuesta => {
      
          console.log(respuesta);
          if(respuesta.status=='200')
          {
             //Cerrar modal
            
             this.close();
          
          }
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
          
         

        });
}else{
  console.log(this.grupo);
  this.$http.post(url + "apiGrupos.php/updategrupo", {
       data:this.grupo},{ headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }}
        ).then(respuesta => {
      
          console.log(respuesta);
          if(respuesta.status=='200')
          {
             //Cerrar modal
            this.limpiarcampos();
             this.close();
          
          }
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
          
         

        });
}
    
  },get_grupo(idg){
   this.$http.get(
          url + "apiGrupos.php/getgrupo/"+idg,
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data
          if(response.status=='200')
          {
          if (response.data != "null") {
            this.grupo = response.data;
          
            
          }
          }
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        });
      },limpiarcampos()
      {
        this.grupo.nombre="";
        this.grupo.descripcion="";
        this.grupo.idcamps=this.idg;
      }
    }
  }
</script>
<style>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width:60%;
    height: 65%;
    position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }

  .modal-fade-enter,
  .modal-fade-leave-active {
    opacity: 0;
  }

  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity .5s ease
  }
</style>