<template>
<transition name="modal-fade">
  <div class="modal-backdrop">
    <div class="modal" role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription">
      <header class="modal-header"  id="modalTitle">
        <slot name="header">
          
          <button
            type="button"
            class="btn-close"
            @click="close"
          >
            x
          </button>
<h1>Listas</h1>
        </slot>
       
      </header>
      <section class="modal-body"  id="modalDescription">
        <slot name="body">
         <form>
                        <div class="form-group">
                            <label>Nombre de la Lista:</label>
                        <input class="form-control form-control-lg" v-model="lista.nombre"  type="text" />
                        </div>
                        <div class="form-group">
                             <label>Descripción:</label>
                        <input class="form-control form-control-lg" v-model="lista.descripcion" type="text" />
                        </div>

                             

                    </form>
        </slot>
       </section>
       <footer class="modal-footer">
          <button
              type="button"
              class="btn-success"
              @click="save_lista"
            >
              Guardar
          </button>

          <slot name="footer">
            
            <button
              type="button"
              class="btn-green"
              @click="close"
            >
              Cerrar
          </button>
        </slot>
      </footer>
    </div>
  </div>
</transition>
</template>
<script>
import { url } from "../main.js";
import { edit } from "../main.js";
  export default {
   
    name: 'modal',
 data()
    {
      return{
          idl:0,
          lista:{
              nombre:'',
              descripcion:'',
              idusuarios:0
          },isedit:false
      }
    },created(){
      edit.$on('editar',(idl)=>{
       this.idl=idl;
     this.get_lista(this.idl);
     this.isedit=true;

      });
      },methods:{ close() {
        this.$emit('close');
      },get_lista(idl)
      { this.$http.get(
          url + "apiListas.php/getlista/"+idl,
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data
         if(response.status=='200')
         {

         

          if (response.data != "null") {
            this.lista = response.data;
          
            
          }
         }
         if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        });

      },
        save_lista(){


if(!this.isedit)
{
    this.lista.idusuarios=localStorage.getItem('idusuarios');
  this.$http.post(url + "apiListas.php/insertLista", {
       data:this.lista},{ headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }}
        ).then(respuesta => {
      
          console.log(respuesta);
          if(respuesta.status=='200')
          {
             //Cerrar modal
            
             this.close();
          
          }
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
          
         

        });
}else{
 this.$http.post(url + "apiListas.php/updateLista", {
       data:this.lista},{ headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }}
        ).then(respuesta => {
      
          console.log(respuesta);
          if(respuesta.status=='200')
          {
             //Cerrar modal
            
             this.close();
          
          }
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
         

        });
}
        
  }
    }
  }
</script>
<style>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width:60%;
    height: 65%;
    position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }

  .modal-fade-enter,
  .modal-fade-leave-active {
    opacity: 0;
  }

  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity .5s ease
  }
</style>