<template>
<transition name="modal-fade">
  <div class="modal-backdrop">
    <div class="modal"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription">
      <header class="modal-header">
        <slot name="header">
          
          <button
          
            type="button"
            class="btn-close"
            @click="close"
          >
            x
          </button>
<h1> Campañas</h1>
        </slot>
       
      </header>
      <section class="modal-body"  id="modalDescription">
   
        <slot name="body" >
         <form>
                 
                        <div class="form-group">
                            <label>Nombre de la Campaña:</label>
                        <input class="form-control form-control-lg" v-model="camps.nombre" type="text" />
                        </div>
                        <div class="form-group">
                             <label>Descripción:</label>
                        <input class="form-control form-control-lg" v-model="camps.descripcion" type="text" />
                        </div>

                         <div class="form-group">
                             <label>Listas:</label>
<select class="form-control form-control-lg" v-model="camps.idlista">
 <option v-for="obj in list_listas" :value="obj.idListas" :key="obj.idListas">
    {{obj.Nombre}}
  </option>
    
</select>
                         </div>
                        


                         

                         <div class="form-group">
                       
                           <label style="padding-right:15px">Activar Campaña:</label>
                          <toggle-button :width="80" :labels="{checked: 'Activa', unchecked: 'Inactiva'}" v-model="activo"/>
                         </div>
                          <div class="example-inputs" style="padding-bottom:20px">
                           <label class="text-uppercase">Fecha y Hora de Inicio</label>
	                                   
	                                        <i class="fa fa-calendar"></i>
	                                       <datetime type="datetime" :minute-step="10"  placeholder="Fecha y Hora" :phrases="{ok: 'Ok', cancel: 'Cancelar'}" 
										   :min-datetime="minDatetime" v-model="camps.fecha_inicio"></datetime>
	                                    
                         </div>
                         <div class="example-inputs">
                           <label class="text-uppercase">Fecha y Hora de Fin</label>
	                                   
	                                        <i class="fa fa-calendar"></i>
	                                       <datetime  type="datetime"  :minute-step="10" placeholder="Fecha y Hora"  :phrases="{ok: 'Ok', cancel: 'Cancelar'}" 
										   :min-datetime="minDatetime"  v-model="camps.fecha_fin"></datetime>
	                                    
                         </div>
                    </form>
                    
        </slot>
        
       </section>
       <footer class="modal-footer">
          <button
              type="button"
              class="btn-success"
              @click="save_camp"
            
            >
              Guardar
          </button>

          <slot name="footer">
            
            <button
              type="button"
              class="btn-green"
              @click="close"
            >
              Cerrar
          </button>
        </slot>
      </footer>
    </div>
  </div>
</transition>
</template>
<script>
import { url } from "../main.js";
import { edit } from "../main.js";
import ToggleButton from "vue-js-toggle-button/src/Button";
import { Datetime } from 'vue-datetime';
export default {
  components: { datetime:Datetime ,ToggleButton,
  },
  data() {
    return {
      activo: true,
      minDatetime:new Date().toISOString(),
      list_listas:[],
      idc:0,
      isedit:false,
      camps:{
        idusuarios:localStorage.getItem('idusuarios'),
        nombre:"",
        descripcion:"",
        idlista:0,
        estatus:"",
        fecha_inicio:new Date().toISOString(),
        fecha_fin:new Date().toISOString()

      }
    };
  },
  name: "modal",
  created()
  {
     edit.$on('editar',(idc)=>{
       this.idc=idc;
     this.get_camp(this.idc);
     this.isedit=true;
     if(this.camps.estatus=="activo")
     {this.activo=true;}else{this.activo=false}

      });
    this.get_listas();


  },
  methods: {
    close() {
      this.$emit("close");
    },get_listas(){
      this.$http.get(
          url + "apiListas.php/listas/" + localStorage.getItem("idusuarios"),
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data
          if(response.status=='200')
          {

          
          if (response.data != "null") {
            this.list_listas = response.data;
            console.log(this.list_listas)
           this.camps.idlista=this.list_listas[0].idListas;
            
          }
          }
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }

        });
    },
    save_camp()
    {
      if(!this.isedit)
      {
      if(this.activo)
      {
        this.camps.estatus="activo";
        console.log(this.camps);
      }else{this.camps.estatus="inactivo";}
        this.$http.post(url + "apiCampania.php/insertCamp", {
       data:this.camps},{ headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }}
        ).then(respuesta => {
      
          console.log(respuesta);
          if(respuesta.status=='200')
          {
             //Cerrar modal
            
             this.close();
          
          }
          if(respuesta.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
          
         

        });
}else{
  if(this.camps.estatus=="activo")
  {
   this.camps.estatus="activo";
        console.log(this.camps);
      }else{this.camps.estatus="inactivo";}
        this.$http.post(url + "apiCampania.php/updateCamp", {
       data:this.camps},{ headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }}
        ).then(respuesta => {
      
          console.log(respuesta);
          if(respuesta.status=='200')
          {
             //Cerrar modal
            
             this.close();
          
          }
          if(respuesta.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
        
    });
} 
    
          

    },convert_date(mydate)
    { var t = mydate.split(/[- :]/);

           var d = new Date(Date.UTC(t[0], t[1]-1, t[2], t[3], t[4], t[5]));
          return d;

    },
    get_camp(idc)
    {
      this.$http.get(
          url + "apiCampania.php/getcamp/"+idc,
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          // get body data

          if(response.status=='200')
          {

          
          if (response.data != "null") {
            this.camps = response.data;
        this.camps.fecha_inicio= this.convert_date(response.data.fecha_inicio).toISOString();
       this.camps.fecha_fin=this.convert_date(response.data.fecha_fin).toISOString();
          }
          if(response.status=='401')
          {
            this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');
            this.$cookies.remove("token");
            this.$router.push('/');
          }
           
     
            
          }
        });
    },limpiar_campos()
    {
      this.camps={};
      this.activo=true;
      this.isedit=false;
      this.idc=0;
    }
  }
};
</script>
<style>
  

   .example-inputs input {
    padding: 8px 10px;
    font-size: 16px;
    border: solid 1px #ddd;
    color: #444;
    width: 40%;
  }
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
  overflow-y: scroll;
}

.btn-close {
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
</style>