<template>
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show">
		<Navbar/>
		
		<div style="padding-top:50px;padding-left:20px;padding-right:20px">	
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-lg-3 col-md-6"  style="cursor:pointer" @click="goList">
					<div class="widget widget-stats bg-grey-darker">
						<div class="stats-icon"><i class="fa fa-video"></i></div>
						<div class="stats-info">
							<h4>Agregar Listas</h4>
							<p>&nbsp;</p>	
						</div>
						<div class="stats-link">
							<a>Agregar Listas <i class="fa fa-arrow-alt-circle-right" ></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6" style="cursor:pointer" @click="goCamp">
					<div class="widget widget-stats bg-orange">
						<div class="stats-icon"><i class="fa fa-chart-line"></i></div>
						<div class="stats-info">
							<h4>Campañas</h4>
							<p>&nbsp;</p>	
						</div>
						<div class="stats-link">
							<a href="javascript:;">Agregar Campaña<i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6" style="cursor: pointer;" @click="goGrupos" >
					<div class="widget widget-stats bg-red">
						<div class="stats-icon"><i class="fa fa-users"></i></div>
						<div class="stats-info">
							<h4>Grupos</h4>
							<p>&nbsp;</p>	
						</div>
						<div class="stats-link">
							<a>Agregar Grupo<i class="fa fa-arrow-alt-circle-right"></i></a>
						
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-lg-3 col-md-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fa fa-tv"></i></div>
						<div class="stats-info">
							<h4>Agregar Dispositivos</h4>
							<p>&nbsp;</p>	
						</div>
						<div class="stats-link">
							<a href="javascript:;">Agregar Dispositivos <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				
			</div><!-- end row -->
		</div>
	</div>
</template>

<script>
import Navbar from "../layout/Navbar.vue";
export default{
data () {
      return {
       
      }
    },
    methods: {
        goGrupos(){
            this.$router.push("/grupos");

        },goCamp(){
			this.$router.push("/campania");
		},goList(){
			this.$router.push("/listas")
		}
	},
	components:{
		Navbar
	},
	computed:{
		
	},
	created()
	{
		if(!this.$cookies.isKey("token"))
		{
			this.$swal('ha caducado su sesión, se redireccionará para que vuelva a loguearse!');			
			this.$router.push('/');
		}
	
	}
}
</script>